.catalog-page {
  padding: 30px 0;
}

.banner {
  height: 100vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.catalog-header {
  margin: -600px 5% 30px 5%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.catalog-heading{
  display: flex;
  flex-wrap: wrap;
}

.catalog-container {
  margin: 0 5% 30px 5%;
}

.catalog-header span{
  bottom: 0;
  border: 2px solid;
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  font-weight: bold;
  align-self: center;
  font-size: 25px;
}

.catalog-header span.green{
  color: rgb(50, 219, 50);
  border-color: rgb(50, 219, 50);
}

.catalog-header span.yellow{
  color: yellow;
  border-color: yellow;
}

.catalog-header span.red{
  color: red;
  border-color: red;
}

.poster {
  width: 500px;
  border-radius: 50px;
}

.catalog-info {
  color: var(--secondary);
  font-size: 25px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}

.swiper-container {
  display: flex;
}

.catalog-genres {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.catalog-cast > img {
  border-radius: 20px;
}

.catalog-crews > ol{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* ============= MEDIA QUERIES (MEDIUM DEVICES) ============= */ 
@media screen and (max-width: 1024px) {
  .catalog-heading {
    font-size: 300%;
  }
  .catalog-heading > span {
    font-size: 50%;
  }
  .catalog-cast > img  {
    width: 120px;
  }

  .catalog-info {
    font-size: 100%;
  }

  .poster {
    width: 100%;
  }
}

/* ============= MEDIA QUERIES (SMALLER DEVICES) ============= */ 
@media (max-width: 768px) {
  .catalog-info {
    grid-template-columns: 1fr;
  }

  .catalog-info {
    font-size: 150%;
  }
  .catalog-poster {
    display: flex;
    justify-content: center;
  }
  .catalog-crew > h4, .catalog-crew > h5{
    font-size: 70%;
  }

}

/* ============= MEDIA QUERIES (SMALL DEVICES) ============= */ 
@media screen and (max-width: 600px) {
  .catalog-page {
    margin: 2rem;
  }
  .catalog-info {
    font-size: 90%;
  }
  .poster  {
    width: 70%;
    align-self: center;
    border-radius: 10px;
  }
  .catalog-heading {
    font-size: 150%;
    width: 90%;
  }
  .catalog-cast > h4, .catalog-cast > h5{
    font-size: 80%;
  }
  .catalog-genre {
    font-size: 80%;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
  }
}
