.details-page {
  padding: 30px 0;
}

.banner {
  height: 100vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.details-header {
  margin: -600px 5% 30px 5%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.heading{
  display: flex;
  flex-wrap: wrap;
}

.details-container {
  margin: 0 5% 30px 5%;
}

.details-header span{
  bottom: 0;
  border: 2px solid;
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  font-weight: bold;
  align-self: center;
  font-size: 25px;
}

.details-header span.green{
  color: rgb(50, 219, 50);
  border-color: rgb(50, 219, 50);
}

.details-header span.yellow{
  color: yellow;
  border-color: yellow;
}

.details-header span.red{
  color: red;
  border-color: red;
}

.details-poster {
  width: 100%;
  grid-area: a;
}
.poster {
  width: 500px;
  border-radius: 50px;
}
.details-desc {
  grid-area: b;
}
.details-info {
  color: var(--secondary);
  font-size: 25px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "a b"
                       "a c";
  gap: 1rem;
}

.swiper-wrapper {
  padding: 1.05%;
}

.details-cast {
  display: flex;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  outline: 1px dotted;
  outline-offset: -8px ;
  box-shadow: 3px 3px 10px rgba(0,0,0,.1);
  position: relative;
}

.details-cast > img {
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .6;
  transition: transform .5s;
}

.details-cast:hover img {
  transform: scale(1.05);
}

.card-text {
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-size: 15px;
  text-shadow: 0 0 1px rgba(0,0,0,.5);
  padding-right: 15px;
}

.swiper-container {
  display: flex;
}

.details-genres {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.details-companies {
  display: inline-flex;
  gap: 10px;
}
.movie-company {
  text-decoration: underline
}
.details-crews > ol{
  grid-area: c;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.collection-banner {
  border-radius: 10px;
  position: relative;
  padding: 100px;
  background-position: 50% 25%;
  background-size: cover;
  background-repeat: no-repeat;
}

.collection-banner-button {
  margin: 20px 0.5rem 1rem 0 ;
  border: 2px solid;
  background:transparent;
  border-color: var(--secondary);
  color: var(--secondary);
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  font-size: 20px;
  transition: all 20ms ease-in-out ;
  cursor: pointer;
}

.collection-banner-button:active{
  transform: translateY(4px);
}
/* ============= MEDIA QUERIES (MEDIUM DEVICES) ============= */ 
@media screen and (max-width: 1024px) {
  section > h1 {
    font-size: 300%;
  }
  .details-header span {
    font-size: 50%;
  }
  
  .details-poster{
    width: 100%;
  }
  .poster{
    width: 100%;
  }
  .details-info {
    font-size: 100%;
    grid-template-columns: 1fr 1fr;
  }
  .details-info h4 {
    font-size: 100%;
  }
  .details-info h5 {
    font-size: 80%;
  }
  .card-text h4{
    font-size: 90%;
  }
  .card-text h5{
    font-size: 70%;
  }
  section > h3 {
    font-size: 25px;
  }
}

/* ============= MEDIA QUERIES (SMALLER DEVICES) ============= */ 
@media (max-width: 768px) {
  .details-info {
    font-size: 150%;
    
  grid-template-columns: 1fr;
  grid-template-areas: "a"
                       "b"
                       "c";
  }
  .details-crew > h4, .details-crew > h5{
    font-size: 70%;
  }
  .details-poster {
    width: 60%;
  }
  .details-desc p {
    font-size: 20px;
  }
}

/* ============= MEDIA QUERIES (SMALL DEVICES) ============= */ 
@media screen and (max-width: 600px) {
  .details-page {
    margin: 2rem;
  }
  .details-heading {
    font-size: 25px;
  }
  .details-info {
    font-size: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a c"
                         "b b";
  }

  .poster  {
    border-radius: 10px;
  }
  .details-header span {
    font-size: 50%;
  }
  .details-cast > h4, .details-cast > h5{
    font-size: 80%;
  }
  .details-genre {
    font-size: 80%;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
  }
  .details-cast{
    width: 100px;
  }
  .card-text > h4{
    font-size: 10px;
  }
  .card-text > h5{
    font-size: 7px;
  }
  .details-poster {
    width: 100%;
  }
  .details-desc p {
    font-size: 13px;
  }
  .collection-banner {
    padding: 60px;
  }
  .collection-banner h2 {
    font-size: 25px;
    padding-bottom: 10px;
  }
  .collection-banner h4 {
    font-size: 15px;
  }
  .collection-banner button {
    font-size: 15px;
  }
}
/* ============= MEDIA QUERIES (SMALL DEVICES) ============= */ 
@media screen and (max-width: 480px) {
  .details-header > h1 {
    font-size: 200%;
  }
  
  .details-heading {
    font-size: 20px;
  }
  .details-info {
    grid-template-columns: 1fr;
    grid-template-areas: "a"
                         "b"
                         "c";
  }
  .collection-banner {
    padding: 40px;
  }
  .collection-banner h2 {
    font-size: 15px;
    padding-bottom: 10px;
  }
  .collection-banner h4 {
    font-size: 10px;
  }
  .collection-banner button {
    font-size: 10px;
  }
}
