.watchlist-page {
    padding: 30px 0;
  }
  
  .watchlist-page .header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px
  }

  .watchlist-page .heading {
    color: var(--secondary);
  }
  
  .watchlist-header-button {
    position: relative;
    left: 50%;
    width: 10rem;
    margin-left: -5rem;
    padding: 5px;
    border: 2px solid;
    border-color: var(--secondary);
    color: var(--primary);
    border-radius: 30px;
    font-size: 20px;
    transition: all 20ms ease-in-out ;
    cursor: pointer;
  }
  .watchlist-page .no-movies {
    position: relative;
    margin-top: 21%;
    margin-bottom: 21%;
    color: var(--white);
    font-size: 3rem;
    text-align: center;
  }
  
  /* ============= MEDIA QUERIES (MEDIUM DEVICES) ============= */ 
@media screen and (max-width: 1024px) {
  
}

/* ============= MEDIA QUERIES (SMALL DEVICES) ============= */ 
@media screen and (max-width: 600px) {
  
}
