.movie-genre {
    margin: 0 0.5rem 1rem 0 ;
    border: 2px solid;
    background:transparent;
    border-color: var(--secondary);
    color: var(--secondary);
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
    font-size: 20px;
    transition: all 20ms ease-in-out ;
    cursor: pointer;
}

.movie-genre.active{
    background-color: var(--secondary);
    color: var(--primary);
}

/* ============= MEDIA QUERIES (MEDIUM DEVICES) ============= */ 
@media screen and (max-width: 1024px) {
    .movie-genre {
        margin-right: 5px;
        padding: 0.2rem 0.6rem;
        font-size: 150%;
    }    
}

/* ============= MEDIA QUERIES (SMALLER DEVICES) ============= */ 
@media screen and (max-width: 768px) {
    .movie-genre {
        font-size: 100%;
    }    
}
