.home-swiper .swiper-wrapper {
  padding: 0;
}

.home-banner{
  height: 100vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1; 
}

.home-info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5rem;
  padding: 10% 15% 15% 15%;  
}

.home-desc{
  display: block;
  margin: 10% 0 auto 0;
}
.home-desc p {
  font-size: 25px;
}
.home-poster-container {
  display: block;
  margin: auto;
}
.home-poster {
  border-radius: 30px;
  width: 400px;
}
.home-banner-button {
  margin: 20px 0.5rem 1rem 0 ;
  border: 2px solid;
  background:transparent;
  border-color: var(--secondary);
  color: var(--secondary);
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  font-size: 20px;
  transition: all 20ms ease-in-out ;
  cursor: pointer;
}
  
@media screen and (max-width: 1024px) {
    .home-banner {
      height: auto;
    }
    .home-info {
      display:flex;
      flex-direction: column-reverse;
      gap: 4rem;
    }

    .home-desc{
      margin: 0;
    }

    .home-poster-container{
      margin-top: 10%;
    }
}


@media screen and (max-width: 768px) {
  .home-info{
    gap: 4rem;
    padding-top: 100px;
  }
  
  .home-poster {
    width: 100%;
  }
  .home-poster {
    display: block;
    margin: auto;
    width: 80%;
  }
  
}

@media screen and (max-width: 600px) {
  .home-desc p {
    font-size: 17px;
  }
  .home-banner-button{
    font-size: 15px;
  }
  .home-poster {
    width: 70%;
  }
  .home-info{
    gap: 2rem;
  }
}

@media screen and (max-width: 425px) {
  .home-info{
    gap: 2rem;
    padding-top: 100px;
  }
  .home-banner-button{
    font-size: 10px;
  }
  .home-poster{
    width: 80%;
  }
  .home-desc > h1{
    font-size: 35px;
  }

  .home-desc p {
    font-size: 15px;
  }
}