*{
    margin: 0;
}

/* Movies */
.movie-list{
    font-family: 'Roboto', sans-serif;
    width: 300px;
    margin: 1rem;
    position: relative;
    overflow: hidden;
    transform: translateX();
    transition: all 0.1s ease-in-out;
    border-radius: 20px;
}

.movie-list-content {
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    border-radius: 20px;
    display: block;
    background-color: #151515;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.modal-backdrop-img {
    width: 100%;
}

.company-list-img, .movie-list-img{
    background-color: white;
    border-radius: 20px 20px 0 0;
    position: relative;
    max-height: 450px;
    width: 100%;
}

.company-list-img {
    padding: 20px;
}

.movie-list-info{
    color: white;
    display: grid;
    grid-template-columns: 3fr auto;
    gap: 6px;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
}

.movie-list-title{
    margin-top: 5px;
    color: white;
    font-size: 120%;
}

.movie-list-info span, .movie-list-info .warning{
    margin-top: 5px;
    border: 1px solid;
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
    font-weight: bold;
    justify-self: center;
}
.movie-list-info span.green{
    color: rgb(50, 219, 50);
    border-color: rgb(50, 219, 50);
}

.movie-list-info span.yellow{
    color: yellow;
    border-color: yellow;
}

.movie-list-info span.red{
    color: red;
    border-color: red;
}

.movie-list:hover{
    transform: scale(103%);
}

/* Modal */
.modal{
    z-index: 1000;
    width: 100vw;
    /*height: 100vh; */
    top: 50%;
    left: 0;
    position: fixed;
}

.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #242424;
    padding: 30px 40px;
    border-radius: 20px;
    max-width: 600px;
    min-width: 300px;
}
.card-overview {
    margin-top: 1rem;
}
.modal-backdrop-img {
    border-radius: 20px;
}
.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

@media (max-width: 1024px) {
    .movie-list{
        width: 200px;
        font-size: smaller
    }

    .movie-list span, .movie-list-info .warning{
        font-size: 10px;
    }

    .movie-list-img{
        width: 200px;
    }

    .modal-desc > h2 {
        font-size: 150%;
    }
    .movie-list-title {
        font-size: 13px;
    }
  }

@media (max-width: 600px) {
    .modal-content {
        width: 300px;
        font-size: 90%;
    }
    .movie-list {
        width: 130px;
        margin: 0.5rem;
        border-radius: 8px;
    }
    .movie-list-img{
        width: 100%;
    }
    .movie-list-info{
        display: block;
        justify-content: space-between;
        padding: 0rem 0.6rem 0.6rem 0.6rem;
    }
    .movie-list-title {
        font-size: 10px;
    }
    .movie-list-info > span, .movie-list-info .warning {
        margin-top: 5px;
        font-size: 8px;
        padding: 0.1rem 0.2rem;
        border-radius: 6px;
    }
  }