*{
    margin: 0;
}

/* Search */
.add-content {
    padding: 10px 0;
    padding-bottom: 30px;
    max-width: 600px;
    margin: 0 auto;
}
  
.add-content .input-wrapper input {
    width: 100%;
    background-color: var(--secondary);
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: var(--primary);
    font-size: 1.25rem;
    caret-color: var(--primary);
}

.movie-count{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    color: white;
}

/* Movies */
.movie-list{
    font-family: 'Roboto', sans-serif;
    background-color: #151515;
    width: 300px;
    margin: 1rem;
    border-radius: 20px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden;
    transform: translateX();
    transition: all 0.1s ease-in-out;
}

.modal-backdrop-img {
    width: 100%;
}

.movie-list-img{
    position: relative;
    height: auto;
    width: 300px;
    object-fit: fill;
    transition: all 0.3s ease-in-out;
}

.movie-list-info{
    color: white;
    display: grid;
    grid-column-gap: 6px;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5;
}

.movie-list-title{
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 5px;
    color: white;
}

.movie-list-info span{
    margin-top: 5px;
    grid-column-start: 3;
    grid-column-end: 4;
    border-style: solid;
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
    font-weight: bold;
}
.movie-list-info span.green{
    color: rgb(50, 219, 50);
    border-color: rgb(50, 219, 50);
}

.movie-list-info span.yellow{
    color: yellow;
    border-color: yellow;
}

.movie-list-info span.red{
    color: red;
    border-color: red;
}

.movie-list-img:hover{
    /* filter: blur(2px); */
    transform: scale(103%);
    cursor: pointer;
}

/* Modal */
.modal{
    z-index: 1000;
    width: 100vw;
    /*height: 100vh; */
    top: 50%;
    left: 0;
    position: fixed;
}

.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #242424;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.modal-desc{
    padding-left:0.8rem;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

@media (max-width: 600px) {
    .modal-content {
        width: 300px;
        font-size: 90%;
    }
  }