.outer-card-controls {
  display: grid;
  padding: 1rem 0 1rem;
}

.inner-card-controls {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem;
  width: 100%;
}

.ctrl-btn {
  color: #fefefe;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease;
  font-size: 1.25rem;
}

.ctrl-btn:hover {
  color: var(--secondary);
  cursor: pointer;
  opacity: 0.5;
}

.ctrl-btn:disabled {
    pointer-events: none;
    opacity: 0.5;
}

.ctrl-btn-card {
  color: var(--primary);
  background-color: var(--secondary);
  border-radius: 10px;
  transition: all 0.3s ease;
  font-size: 1.25rem;
  margin-bottom: 10px;
  padding: 10px;
}

.ctrl-btn-card:hover {
  color: var(--primary);
  cursor: pointer;
  opacity: 0.5;
}

.ctrl-btn-card:disabled {
    pointer-events: none;
    opacity: 0.5;
}


@media (max-width: 1024px) {
  .ctrl-btn {
    font-size: 18px;
  }
}
