.outer-card-controls {
  display: grid;
  padding: 1rem 0 1rem;
}

.inner-card-controls {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem;
  width: 100%;
}

.ctrl-btn {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 0 1rem 0 1rem;
  color: #fefefe;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease;
  font-size: 1.25rem;
}

.ctrl-btn:hover {
  color: var(--secondary);
  cursor: pointer;
  opacity: 0.5;
}

.ctrl-btn:disabled {
    pointer-events: none;
    opacity: 0.5;
}
.ctrl-btn .fa-times {
  display: block;
  margin: auto;
}
.ctrl-btn .fa-plus {
  display: block;
  margin: auto;
}
.ctrl-btn-card .fa-times {
  color: var(--primary);
  display: block;
  margin: auto;
}
.ctrl-btn-card .fa-plus {
  color: var(--primary);
  display: block;
  margin: auto;
}
.ctrl-btn-card .fa-info {
  display: block;
  margin: auto;
}
.ctrl-btn-card {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  color: var(--primary);
  background-color: var(--secondary);
  border-radius: 10px;
  transition: all 0.3s ease;
  font-size: 1.25rem;
  margin-bottom: 10px;
  padding: 10px;
}

.ctrl-btn-card:hover {
  color: var(--primary);
  cursor: pointer;
  opacity: 0.5;
}

.ctrl-btn-card:disabled {
    pointer-events: none;
    opacity: 0.5;
}


@media (max-width: 1024px) {
  .ctrl-btn {
    font-size: 13px;
  }
  .ctrl-btn-card {
    font-size: 15px;
  }
}
