iframe {
    width: 100%;
    display: block;
    margin: auto;
    aspect-ratio: 14/9;
    padding-bottom: 2.5rem  ;
}

.swiper-pagination-bullet {
    background: var(--white);
    z-index: 2;
}

.swiper-button-prev::after, .swiper-button-next::after {
    padding-bottom: 2.5rem  ;
    color: var(--white);
}

@media screen and (max-width: 1024px) {
    iframe {
        aspect-ratio: 12/9;
    }
}
@media screen and (max-width: 768px) {
    iframe {
        aspect-ratio: 10/9;
    }
}
@media screen and (max-width: 600px) {
    iframe {
        aspect-ratio: 100/101;
    }
}