* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline:0;
    font-family: 'PT Sans', sans-serif;
    caret-color: transparent;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");

:root {
  --primary: black;
  --secondary: white;
  --white: #fff;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  margin: 0;
  background-color: var(--primary);
}

h1 {
  font-size: 60px;
  color: var(--secondary);
}

h2 {
  font-size: 35px;
  color: var(--secondary);
}

h3 {
  font-size: 25px;
  color: var(--secondary);
}
h4 {
  font-size: 20px;
  color: var(--secondary);
}
h5 {
  font-size: 15px;
  color: var(--secondary);
}

li {
  color: var(--secondary);
  list-style: none
}

section {
  margin-bottom: 5rem;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input:focus {
  outline: none;
  caret-color: #fff;
}